@import helper._

@(serviceNameForm: Form[String], graphElementsJson: Option[String])(implicit request: RequestHeader, messages: MessagesProvider)

@main("Simple Service Graph") {
    <div class="pb-2 mt-4 mb-2 border-bottom">
        <h1>Simple Service Graph</h1>
    </div>

    @form(action = routes.SsgController.submit()) {
        @CSRF.formField

        @inputText(field = serviceNameForm("serviceName"),
            '_label -> "Service name:",
            'class -> "form-control",
            'id -> "service-name-input",
            '_showConstraints -> false)

        <button type="submit" class="btn btn-primary">Generate service graph</button>
    }

    @for(g <- graphElementsJson) {
        <p></p>
        <div id="graphJson" hidden>@Html(g)</div>
        <div id="cy"></div>
        <script>buildGraph()</script>
        <p></p>
    }
}